
.carousel-inner img {
    max-height: 450px;
    object-fit: cover;
    margin-top: 10px;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .carousel-inner img {
    width: 100%;          
    height: auto;        
    max-height: 500px;   
    object-fit: cover;   
  }

  #carouselExample {
    overflow: hidden;
  }
  